
.select__container {
    height: 90px;
    padding: 16px;
    
    .select {
        height: 100%;

        option {
            font-family: var(--monospace);
            font-size: 16px;
        }
    }
    
}