:root {
  --color1: #ccd6f6;
  --color2: #8892b0;
  --color3: #64ffda;
  --color4: #112240;
  --bg-color: #0a192f;
  --monospace: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
  background-color: var(--bg-color);
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--monospace);
}